/*------------------------------------*\
    $MEM-DEFAULT
\*------------------------------------*/
/** 
 * jA for memorabilist.com
 
 * Default element styles
 */
 

/**
 * all the single DOM elements, put your styles up
 */
 
body{
	background-color: $white;
	color: $black;
}



a{
	@extend %transition;
	
	color: $crimson;
	padding: 0 2px;
	
	
	p &, .dispatch-list li &{
		@include vendor(transition, background .5s ease-in-out);
		@extend %transition;
		
		&:hover{
			background-color: $crimson;
			color: #fff;
		}		
	}
}

address{
	font-style: normal;
}

figure{
	padding: $half-spacing-unit;
	
	@extend .grid__item;
	
	img{
		outline: 1px solid $black;
	}
}

figcaption{
	@extend .smallprint;
	padding-top: $half-spacing-unit;
}

h2, h3{
	color: $crimson;
}

// keep the measure readable in grafs
p{
	max-width: $measure;
	text-align: left;
}

section{
	position: relative;
}

ul{
	list-style: none;
	margin: 0;
}






