/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */





/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         true;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           true;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         false;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     true;
$use-beautons:      false;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;





/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */



/**
 * TYPOGRAPHY
 */
 
/**
 * Set the outside limit for optimal line length
 */
$measure:			50rem;

 
/**
 * Redefine $base-font-family before declaring the config variables
 */
$base-font-family:					"Roboto Condensed", Arial, sans;

/**
 * Config variables, from BFoo
 */
$fontPath:              "../fonts/";
$imgPath:               "../img/";


/**
 * Font-sizes (in pixels). 
 */
/*
$giga-size:         96px;
$mega-size:         72px;
$kilo-size:         60px;
$big-size:			48px;

$h1-size:           36px; // .alpha
$h2-size:           24px; // .beta
$h3-size:           21px; // .gamma
$h4-size:           18px; // .delta
$h5-size:           16px; // .epsilon
$h6-size:           14px; // .zeta

$milli-size:        12px;
$micro-size:        10px;
*/
//
$base-font-size:    18px!default;
$base-line-height:  28px!default;


$giga-size:         108px;
$mega-size:         96px;
$kilo-size:         72px;
$big-size:			60px;

$h1-size:           48px; // .alpha
$h2-size:           36px; // .beta
$h3-size:           24px; // .gamma
$h4-size:           21px; // .delta
$h5-size:           18px; // .epsilon
$h6-size:           16px; // .zeta

$milli-size:        14px;
$micro-size:        12px;


/*------------------------------------*\
    $RESPONSIVE
\*------------------------------------*/
/**
 * Responsiveness?
 */
$responsive:        true;

/**
 * Responsiveness for widescreen/high resolution desktop monitors and beyond?
 * Note: `$responsive` variable above must be set to true before enabling this.
 */
$responsive-extra:  true;


/**
 * Tell inuit.css when breakpoints start.
 */

$tablet-start:			481px;
$lap-start:				601px;
$lap-lg-start:			801px;
$desk-start:     	  	1024px!default;
$desk-wide-start:  		1200px!default;

//from _mixins
$palm-end:              $tablet-start - 1px;
$lap-end:               $desk-start - 1px;




/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */
 


$brand-timing: 			.5s;




/**
 * COLOR PALETTE
 */
//$black:					#222222;
$black:					#252225;
$white:					#f8f8f8;


$grey:					lighten($black, 50%);
$greyLight:				lighten($black, 80%);
$greyDarker:			lighten($black, 30%);
$greyDarkest:			lighten($black, 10%);

$crimson:				#b20000;

$purple:				#5B006D;
$purpleLight:			lighten($purple, 80%);
$purpleDark:			darken($purple, 10%);