/*------------------------------------*\
    $FONTS
\*------------------------------------*/
/**
 *	This file includes settings for type AND icons.
 */
 

/**
 * Sets font paths
 */
@mixin font-face($fontFamily, $path, $fontFilename) {
  font-family: $fontFamily;
  src: url('#{$path}#{$fontFilename}.eot');
  src: url('#{$path}#{$fontFilename}.eot?#iefix') format('embedded-opentype'),
       url('#{$path}#{$fontFilename}.woff') format('woff'),
       url('#{$path}#{$fontFilename}.ttf') format('truetype'),
       url('#{$path}#{$fontFilename}.svg') format('svg');
}




/*------------------------------------*\
    TYPE
\*------------------------------------*/

/**
 * memorabilist typefaces are:
 * Latin Modern Roman (body)
 * P22 Kilkenny (display)
 * Great Victorian (display)
 */


/**
 * Latin Modern Roman (body)
 */
@font-face {
  @include font-face('Modern', $fontPath, 'lmroman10-regular-webfont');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  @include font-face('Modern', $fontPath, 'lmroman10-bold-webfont');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  @include font-face('Modern', $fontPath, 'lmroman10-italic-webfont');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  @include font-face('Modern', $fontPath, 'lmroman10-bolditalic-webfont');
  font-weight: bold;
  font-style: italic;
}


/**
 * P22 Kilkenny (display)
 */
@font-face {
  @include font-face('KilkennyEureka', $fontPath, '29DBA3_0_0');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  @include font-face('KilkennySwash', $fontPath, '29DBA3_1_0');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  @include font-face('KilkennyPro', $fontPath, '29DBA3_2_0');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  @include font-face('KilkennySwashCaps', $fontPath, '29DBA3_3_0');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  @include font-face('KilkennySwashEureka', $fontPath, '29DBA3_4_0');
  font-weight: normal;
  font-style: normal;
}

/**
 * Great Victorian (display 2)
 */
@font-face {
  @include font-face('GreatVic', $fontPath, 'greatvictorian-standard-webfont');
  font-weight: normal;
  font-style: normal;
}







/*------------------------------------*\
    ICONS
\*------------------------------------*/
/*
Icon Set:	created with Icomoon from Vectorian
*/
@font-face {
  @include font-face($iconFontFamily, $fontPath, 'memorabilist-icons');
  font-weight: normal;
  font-style: normal;
}



@mixin icon($content: "none") {
  @if ( $content != "none") {
    content: "#{$content}";
  }  
  font-family: $iconFontFamily;  
  
  background: none;
  display: inline-block;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  margin-top: 0;
  speak: none;
  text-transform: none;
  vertical-align: middle; //NOTETOSELF: experiment with this setting?
  width: auto;
  height: auto;
  -webkit-font-smoothing: antialiased;
}



[data-icon]:before,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  @include icon();
  margin: 0 .35em;
}

[data-icon]:before {
  content: attr(data-icon);
}

[class^="icon-"],
[class*=" icon-"] {
  background: none;
  line-height: 1;
  width: auto;
  height: auto;
}

// removes list bullet if you are using icons in a list
li[data-icon],
li[class^="icon-"],
li[class*=" icon-"] {
	list-style-type: none;
}



/**
 * THE FOLLOWING CODE IS PULLED DIRECTLY FROM ICOMOON DEMO HTML
 * AND MUST BE REPLACED AFTER UPDATING OUR ICON SET
 */
.icon-menu:before {
	content: "\e618";
}
.icon-leaf1:before {
	content: "\e600";
}
.icon-leaf2:before {
	content: "\e601";
}
.icon-leaf3:before {
	content: "\e602";
}
.icon-leaf4:before {
	content: "\e603";
}
.icon-fleurdelis:before {
	content: "\e604";
}
.icon-endcap1-left:before {
	content: "\e605";
}
.icon-endcap1-right:before {
	content: "\e606";
}
.icon-endcap2-left:before {
	content: "\e607";
}
.icon-endcap2-right:before {
	content: "\e608";
}
.icon-endcap3-left:before {
	content: "\e609";
}
.icon-endcap3-right:before {
	content: "\e60a";
}
.icon-corner1-left:before {
	content: "\e60b";
}
.icon-corner1-right:before {
	content: "\e60c";
}
.icon-flourish1-left:before {
	content: "\e60d";
}
.icon-flourish1-right:before {
	content: "\e60e";
}
.icon-littleflourish:before {
	content: "\e60f";
}
.icon-boxhedge:before {
	content: "\e610";
}
.icon-divider2:before {
	content: "\e611";
}
.icon-divider3:before {
	content: "\e612";
}
.icon-leaf22:before {
	content: "\e613";
}
.icon-leaf32:before {
	content: "\e614";
}
.icon-leaf42:before {
	content: "\e615";
}
.icon-grandflourish:before {
	content: "\e616";
}
.icon-divider1:before {
	content: "\e617";
}
