/*------------------------------------*\
    $NAV
\*------------------------------------*/
/** 
 * jA for memorabilist.com
 
 * Navigation elements
 */

.nav--main{
	
	background-color: rgba($black, .85);
	border-top: 1px solid lighten($black, 50%);
	color: $white;
	font-family: $base-font-family;
	padding: $half-spacing-unit/2 0 $half-spacing-unit;
	width: 100%;
	
	// positioning
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1001;
	
	.nav{
		// positioning for load
		position: absolute;
		left: -1000px;
		
		
		 
		&.open{
			position: relative;
			left: 0;
		}
	}

	li{
		position: relative;
}
	
	a{		
		color: $white;
		padding: 0 $half-spacing-unit/2;
		text-decoration: none;
	}
}

.nav__menu-opener{
	font-size: 1.3rem;

}

.backtotop{
	@include background($type: nav, $name: back-to-top, $opacity: 1);

	// positioning
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1001;
	// size
	width: 4rem;
	height: 5rem;
}
