/*------------------------------------*\
    $DEFAULT
\*------------------------------------*/
/** 
 * Default element styles
 */
 

/**
 * all the single DOM elements, put your styles up
 */
 
body {
	background-color: #fff;
	color: $black;
	font-size: 1.3rem;
	padding: 2rem .1rem 3.5rem;
	
	@include text-shadow;
} 

section {
	padding: 0 1.5rem;
	position: relative;
}
 

a {
	color: $crimson;
	text-shadow: none;
	
	&:hover {
		@include rollover;
	}
 }
 
p {
	padding: 0 0 2rem;
}





/**
 * Classes and such			MOVE TO PARTIALS AS NEEDED
 */ 

/* wrapper to prevent widest bkpt from widening too much */
.wrapper {
	max-width: $desk-start;
	margin: 0 auto;
}


/* fade in each subpage */
$delay-subpage:		.15s;
.subpage {
	@include page-fade($delay: $delay-subpage);
}



/* page title general styles*/
.title {
	font-family: $display-font-family;	
	margin-bottom: 1.5rem;
	
	&.sitename {
	    margin-bottom: 0;
	}
}
.title-cap {
	font-size: 13.5rem;
}
.title-rest {
    display: inline-flex;
    font-size: 4.5rem;
    transform: translate(-15px, -18px);
}



/* content styles */
.content {
	// make room on desk for nav
	@include media-query(desk) {
		max-width: $desk-start - 200px;
		margin-left: 200px;	
	}
}

.secondfont {
	font-family: $second-font-family;
}
.displayfont {
	font-family: $display-font-family;
}

.sidebar {
	background-color: $greyLightest;
	font-size: $h5-size;
	padding-top: .3rem;
	padding-bottom: 1rem;
	
	h1 {
		font-family: $second-font-family;
		font-weight: normal;
		text-transform: uppercase;
	}
}

.footnote {
	margin-top: 3rem;
	font-size: .9rem;
}



/* types of links and CTAs */
.cta {
	@include CTA;
}

.contains-ctas { // nice horizontal list of CTAs
	margin: 0;
	
	li {
		display: inline-block;
		
		a {
			@include CTA;
		}
	}
}


@mixin cta-icon($bg-size: 1.5rem, $bg-pos: .5rem center, $padd: .5rem .5rem .5rem 2.5rem !important){ // put SVG icon as bg img on the left
	background-repeat: no-repeat;
	background-size: $bg-size;
	background-position: $bg-pos;	

	padding: $padd; //overrides .contains-ctas
}

[class^="icon-"], [class*=" icon-"]{
	@include cta-icon;
}

// icons for CTAs
.icon-cv {
 	background-image: url(../svg/cv.svg);
}
.icon-download {
 	background-image: url(../svg/download.svg);
}
.icon-info {
 	background-image: url(../svg/information.svg);
}
.icon-linkedin {
 	background-image: url(../svg/linkedin.svg);
}
.icon-mail {
 	background-image: url(../svg/mail.svg);
}
.icon-medium {
 	background-image: url(../svg/medium.svg);
}
.icon-pdf {
 	background-image: url(../svg/pdf.svg);
}
.icon-resume {
 	background-image: url(../svg/resume.svg);
}

.readit-toggle { // toggle for project details
	@include CTA;
	@include cta-icon($bg-pos: center center, $padd: .5rem !important);
	
	@extend .icon-info;
	
	display: block;
	width: 2rem;
	height: 2rem;
	
/*
	span:after {
		content: "Read about it";
	}
*/
}




.coming-soon {
	
	&:after {
		content: " (coming soon)";
		color: $greyDarker;
		font-size: $micro-size;
	}
}




/**
 * STYING and GRID for PROJECT CHUNKS: UX and ART
 */
.project {
	font-size: $h5-size;
    margin: 1rem 0 3rem;
    
	//  start grid at breakpoint; universal project grid styles
	@include media-query(mini-tablet) {
		display: grid;
				
		grid-template-columns: 18.5rem 1fr;

		grid-column-gap: 2rem;

		//	CSSGRID/SPECIFIC SETTINGS for ART PAGE
		&.art {
			grid-template-rows: auto 1fr 1fr;
			
			grid-template-areas:
			"title title"
			"img desc"
			"img cta";
			
			img {
				grid-area: img;
			}
			
			.desc {
				grid-area: desc;
				align-self: end;
			}
			
			.contains-ctas {
				grid-area: cta;
			}
		}
		
		//	CSSGRID/SPECIFIC SETTINGS for UX PAGE
		&.ux {
			grid-template-areas: 
			"img title"
			"img summary"
			"img readit"
			"desc desc";
			
			img {
				grid-area: img;
			}
			
			h1 {
				grid-area: title;
				align-self: end;
				
			    margin-bottom: .5rem;
			}
			
			.summary {
				grid-area: summary;
				
				align-self: start;
				font-size: $h3-size;
			}
			
			.readit-toggle {
				grid-area: readit;
			
				align-self: start;
				justify-self: start;
			}
			
			.desc {
				grid-area: desc;
			}
			
			.writing-link,
			.links-project {
				grid-area: desc;
			}			
		}
	}
	
	h1, h2 {
		font-family: $second-font-family;
		font-weight: normal;
		line-height: 1.2;
		text-transform: uppercase;
	}
	
	h2 {
		font-size: $h4-size;
		padding: .3rem 0;
	}
	
	img {
		background-color: #ccc;
		border: 2px solid $grey;
		width: 18.5rem;
		height: auto;
	}
	
	p {
		padding-bottom: 1rem;
	} 
	
	&.ux {
		h1 {
		    margin-bottom: .3rem;
		}
		
		.summary {
		    padding-bottom: .5rem;	
		}
		
		.desc {
			margin-top: 1rem;	
		}
		
		.readit-toggle {
			letter-spacing: .02rem;
		}
	}
}





/* 
 * HEADERS for SUBPAGES 
 */
.header-about {
	
	@include section-bgs($bgimg: url(../img/feet.png), $bgpos: right top, $bgsize: 250px auto);
	
 	transform: translate(11rem, -4rem);
	
	.title {
 	    transform: translate(-9.5rem, 4rem);
	}
	
	.title-cap {
		line-height: 1rem;
	}

}


.header-art {
	
	@include section-bgs($bgimg: url(../img/rwing.png), $bgpos: 6rem 1rem, $bgsize: 230px auto);
	
	transform: translateX(3rem);
	
	.title {
        transform: translateX(-27px);
	}
	
	.title-cap {
		line-height: 1rem;
	}
	
	.title-rest {
	    transform: translate(-19px, -35px);
	}

}

 
.header-ux {
	
	@include section-bgs($bgimg: url(../img/lwing.png), $bgpos: left top, $bgsize: 230px auto);
	
	transform: translateX(-7.5rem);
	
	@include media-query(mini-tablet) {
		transform: translateX(-5.5rem);
	}
	
	@include media-query(tablet) {
		transform: translateX(-3.5rem);
	}	
	
	@include media-query(desk) {
		transform: translateX(-0.5rem);
	}		
	
	.title {
		line-height: 1rem;
		transform: translateX(14rem);
	}
	
	.title-cap {
		line-height: 1rem;
	}
	
	div {
		display: inline-block;
	}
	
	.title-cap-2 {
		font-size: 8.5rem;
	}
	
	.title-rest {
		display: block;
		transform: none;
	}

}







/**
 * SVG
 */

