/*------------------------------------*\
    $DEFAULT
\*------------------------------------*/
/** 
 * Default element styles
 */
 

/**
 * all the single DOM elements, put your styles up
 */
 
body {
	padding: 2rem .1rem 3.5rem;
	
	@include text-shadow;
} 

section {
	padding: 0 1.5rem;
	position: relative;
}
 

a {
	color: $crimson;
	text-shadow: none;
 }
 
p {
	padding: 0 0 1rem;
}




/**
 * classes and such			MOVE TO PARTIALS AS NEEDED
 */ 
 
.secondfont {
	font-family: $second-font-family;
}
.displayfont {
	font-family: $display-font-family;
}



.wrapper {
	max-width: $desk-start;
	margin: 0 auto;
}




 
.cta {
	@include CTA;
	
	&:hover {
		@include CTA-rollover;
	}
}

.contains-ctas {
	margin: 0;
	padding: 0;
	text-align: center;
}




.title {
	font-family: $display-font-family;
	margin-top: -4.5rem;
	text-align: center;
	
	@include media-query(desk) {
		margin-left: -15rem;
	}
}
.title-cap {
	font-size: 8rem;
}
.title-rest {
	font-size: 3.5rem;
}






.section-torso {
	height: 8rem;
}

.section-head {
	padding-top: 5rem;	
	
	@include media-query(desk) {
		padding-top: 1rem;
	}
}

.section-lwing,
.section-rwing,
.section-feet {
	padding-top: 10rem;
}

.section-lwing {
	@include media-query(desk) {
		
		div {
	        position: absolute;
		    width: 30%;
		    top: 10rem;
		    left: 1rem;
		}
	}
}

.section-heart {
	min-height: 10rem;	
	padding-top: 1rem;
	padding-bottom: 1rem;

	@include media-query(desk) {
		div {
		    min-height: 1rem;
		    
		    position: absolute;
		    width: 30%;
		    top: 7rem;
		    right: 1rem;
		}
	}	
}

.section-rwing {
	@include media-query(desk) {
		div {
		    position: absolute;
		    width: 60%;
		    top: 20rem;
		    left: 34%;
		}
	}
}

.section-feet {
	@include media-query(desk) {
		div {
			position: absolute;
		    top: 22rem;
		    left: 0;
		    right: 0;
	    }
	}
}






.project-links {
	padding-top: 5rem;
	text-align: center;

	@include media-query(desk) {
		padding-top: 0;
	}	
	
	a {
		display: block;
	}
}

.coming-soon {
	color: $grey;
}
