/*------------------------------------*\
    $HEART
\*------------------------------------*/
/**
 * the heart
 */

.heart {
	width: 60px;
	height: auto;
	
	display: block;
	margin: 1rem auto;
	
	//	heart animation
	animation: beat 3s infinite;
	
	@keyframes beat {
		0%, 10%, 50%, 100% {
			transform: scale(1);
		}
		
		5% {
			transform: scale(1.02);
		}
		15% {
			transform: scale(1.035);
		}
	}
	
	@include media-query(desk) {
		&:hover {
			animation: beat .5s infinite;
		}
		@keyframes beat {
		  0%, 40%, 100% {
		    transform: scale(1);
		  }
		  25% {
		    transform: scale(1.02);
		  }
		  60% {
		    transform: scale(1.035);
		  }
		}
	}	
}