/*------------------------------------*\
    $IMAGES
\*------------------------------------*/
/** 
 * images
 */
 

 /* section bg imgs */ 
 @mixin section-bgs($bgimg, $bgpos: center top, $bgsize: contain){
	background-color: transparent;
	background-image: $bgimg;
	background-position: $bgpos;
	background-repeat: no-repeat;
	background-size: $bgsize;
	
 	@include transition();
}


$wingfeetwidth: 320px;


.section-head{
	@include section-bgs($bgimg: url(../img/head.png), $bgsize: 220px auto);

	@include media-query(tablet){ 
 		transform: translateX(-55px);
	}
		
}
.section-lwing{
	@include section-bgs($bgimg: url(../img/lwing.png), $bgsize: $wingfeetwidth auto);
	
	@include media-query(tablet) {
	    background-position: left top;
	}
	
	@include media-query(desk) {
	    background-position-x: 92px;
	    transform: translateY(-21px);
	}
}

.section-torso{
	height: 8rem;
	
	@include section-bgs($bgimg: url(../img/torso.png), $bgpos: center, $bgsize: 160px auto);
	
	@include media-query(tablet) {
	    transform: translate(305px, -60px);
	    
	    padding: 0;
	    width: 160px;
	}
	
	@include media-query(desk) {
        transform: translateY(-330px);
        
	    width: 100%;
	}
}

.heart {
	width: 60px;
	height: auto;
	
	@include media-query(tablet) {

		position: absolute;
		top: 63px;
		left: 357px;
		right:0;
		margin: auto;

	}
	
	@include media-query(desk) {
		top: -88px;
		left: -660px;
	}
}

/*
.torso-top {
	display: none;
	
	@include media-query(tablet) {
		display: block;
		width: 145px;
		height: auto;
		
		position: absolute;
		top: 36px;
		left: 10px;
		right:0;
		margin: auto;
	}
	
	@include media-query(desk) {
	    top: -158px;
	    left: -621px;
	}
}
*/


.section-rwing{
	@include section-bgs($bgimg: url(../img/rwing.png), $bgsize: $wingfeetwidth auto);
	
	z-index: -1001;
	
	@include media-query(tablet) {
	    background-position-x: right;
		transform: translateY(-227px);
	}
	
	@include media-query(desk) {
        transform: translate(268px, -675px);
        
	    width: 55%;
	}
}

.section-feet{
	@include section-bgs($bgimg: url(../img/feet.png), $bgsize: $wingfeetwidth auto);
	
	@include media-query(tablet) {	
		transform: translateY(-200px);
	}
	
	@include media-query(desk) {
	    transform: translateY(-750px);
	}
}




/**
 * heart animation
 */
.heart {
	
	animation: beat 3s infinite;
	
	@keyframes beat {
		0%, 10%, 50%, 100% {
			transform: scale(1);
		}
		
		5% {
			transform: scale(1.02);
		}
		15% {
			transform: scale(1.035);
		}
	}
	
	@include media-query(desk) {
		&:hover {
			animation: beat .8s infinite;
		}
		@keyframes beat {
		  0%, 40%, 100% {
		    transform: scale(1);
		  }
		  25% {
		    transform: scale(1.02);
		  }
		  60% {
		    transform: scale(1.035);
		  }
		}
	}
	

}