/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

/**
 * GENERAL F11Y
 */
 
 
 
/**
 * Media query mixin.
 *
 *
 * `@include media-query(palm){ [styles here] }`
 *

 */


@mixin media-query($media-query){

    @if $media-query == phone{

        @media only screen and (max-width:$mini-tablet-start) { @content; }

    }

    @if $media-query == mini-tablet{

        @media only screen and (min-width:$mini-tablet-start) { @content; }

    }

    @if $media-query == tablet{

        @media only screen and (min-width:$tablet-start) { @content; }

    }

    @if $media-query == desk{

        @media only screen and (min-width:$desk-start) { @content; }

    }

}


/**
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10px);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 */
@mixin font-size($font-size, $line-height:true){
    font-size:$font-size;
    font-size:($font-size / $base-font-size)*1rem;
    @if $line-height == true{
        line-height:ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
    }
}



/**
 * Create vendor-prefixed CSS in one go, e.g.
 *
   `@include vendor(border-radius, 4px);`
 *
 *
 * NOTE: LEAVING THIS MIXIN, THO PROBS DONT NEED IT FOR MUCH ANYMORE, HOORAY 4 SUPPORT :)
 */
@mixin vendor($property, $value...){
    -webkit-#{$property}:$value;
       -moz-#{$property}:$value;
        -ms-#{$property}:$value;
         -o-#{$property}:$value;
            #{$property}:$value;
}



/**
 * Animation for index page pieces, and subpage fade-ins
 *
 	'@include page-fade($delay: $delay-head);'
 *
 */

@mixin page-fade($duration: 2s, $delay: 3s) {

	opacity: 0;
	
	animation-delay: $delay; // this changes for each piece	on index page
	animation-duration: $duration;
	animation-fill-mode: forwards;
	animation-name: fadein;

	
	@keyframes fadein {
		0% {
			opacity: 0;
		}
/*
		50% {
			opacity: .3;
		}
		70% {
			opacity: .7;
		}
*/
		85% {
			opacity: .85;
		}
		100% {
			opacity: 1;
		}
	}
}




/**
 * STYLING
 */

/**
 * Transition 
 */
@mixin transition(){
	transition-duration: $timing-hover;
	transition-property: all;
	transition-timing-function: ease;
}

/**
 * Text-shadow settings
 */
@mixin text-shadow ($x: 1px, $y: 1px, $blur: 1.5px, $color: $greyTouch){
	text-shadow: $x $y $blur $color; 
}

/**
 * White text
 */
@mixin reverse-text(){
	color: $white;
	@include text-shadow ($blur: 2px);	
}

/**
 * General CTA style
 */
 
@mixin CTA-rollover($bg: $greyDarkest, $text: $white){
	background-color: $bg;
	color: $text;
	
	@include transition;
}

@mixin CTA($bg: $greyLight, $text: $black, $margin: .5rem auto 1rem, $padding: 0.2rem .7rem){
	background-color: $bg;
	border-radius: $round;
	color: $text;
	display: inline-block;
	font-family: $second-font-family;
	letter-spacing: .05rem;
	margin: $margin;
	padding: $padding;
	text-align: center;
	text-decoration: none;	
	text-shadow: none;
	
	&:hover {
		@include CTA-rollover;
	}
}

/**
 * Rollover style
 */
@mixin rollover(){
	background-color: $greyLight;
	
	@include transition;
}
