[class*="icon-"] {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(sprites.svg);
	background-repeat: no-repeat;
}
.icon-leaf1 {
	background-position: 0 0;
	width: 173px;
}
.icon-leaf2 {
	background-position: -189px 0;
	width: 915px;
}
.icon-leaf3 {
	background-position: -1120px 0;
	width: 1413px;
}
.icon-leaf4 {
	background-position: -2549px 0;
	width: 86px;
}
.icon-fleurdelis {
	background-position: -2651px 0;
	width: 59px;
}
.icon-endcap1-left {
	background-position: -2726px 0;
	width: 58px;
}
.icon-endcap1-right {
	background-position: -2800px 0;
	width: 76px;
}
.icon-endcap2-left {
	background-position: -2892px 0;
	width: 411px;
}
.icon-endcap2-right {
	background-position: -3319px 0;
	width: 62px;
}
.icon-endcap3-left {
	background-position: -3397px 0;
	width: 42px;
}
.icon-endcap3-right {
	background-position: -3455px 0;
	width: 42px;
}
.icon-corner1-left {
	background-position: -3513px 0;
	width: 32px;
}
.icon-corner1-right {
	background-position: -3561px 0;
	width: 32px;
}
.icon-flourish1-left {
	background-position: -3609px 0;
	width: 73px;
}
.icon-flourish1-right {
	background-position: -3698px 0;
	width: 73px;
}
.icon-littleflourish {
	background-position: -3787px 0;
	width: 89px;
}
.icon-boxhedge {
	background-position: 0 -48px;
}
.icon-divider2 {
	background-position: -189px -48px;
}
.icon-divider3 {
	background-position: -1120px -48px;
}
.icon-leaf22 {
	background-position: -2549px -48px;
}
.icon-leaf32 {
	background-position: -2651px -48px;
}
.icon-leaf42 {
	background-position: -2726px -48px;
}
.icon-grandflourish {
	background-position: -2800px -48px;
}
.icon-divider1 {
	background-position: -2892px -48px;
}
