/*------------------------------------*\
    $CONTENT
\*------------------------------------*/
/** 
 * jA for memorabilist.com

 * Content elements
 */
 


/**
 * General
 */
 
// content container
.content{
	padding: 0 1rem 0 2rem;
}

// image outline
.img--outline{
	outline: 3px solid rgba($black, .5);
}

// size the divider image properly
.divider{
	font-size: .5rem;
//	margin-left: -.5rem;
	
	display: list-item;
}


/**
 * Title area
 */
 
// positioning for statement in contexts
.statement--bio{
	h4{
		@extend .beta;
		margin: $half-spacing-unit 0;
	}
	
	ul{
		margin: $half-spacing-unit 0;
	}
}

 


/**
 * Portfolio
 */

#portfolio{
	@include media-query(desk){
		width: 65%;
		margin: 0 auto;
	}
}

.figures{
	@extend .text--center;
}

// styling the portfolio figures
.fig--portfolio{
	@extend .one-whole;
	@extend .tablet-and-up-one-half;
	@extend .desk-one-whole;

	text-align: center;
	
	img{
		@extend .img--outline;
		
		display: inline-block;
		
		@include media-query(desk){
			width: 80%;
		}	
	}
	
	figcaption{
		margin-bottom: 1rem;
	}	
}


/**
 * Biography
 */

// positioning for list of bands
.listen-to{
	
	li{
		display: inline;
	}
}



// personal details
.detail{
	@extend .grid__item;
	@extend .one-whole;
	@extend .text--center;
	
	img{
		margin: $half-spacing-unit 0;
	}


	@include media-query(tablet-and-up){
		display: block;
		margin: 0 auto;
		width: 65%;
	}

	@include media-query(desk){
		width: 50%;
	}
}
 
// styling the grafs and imgs of "Personal Details"
.personal-details{
	h3{
		font-size: 2.5rem;
		margin: 2rem 0 0;
	}
	
	div{
		@extend .hard--left;	
	}
	
	p{
		margin: 1rem 0 .3rem;
	}
	
	img{
		@extend .img--outline;
		@extend .text--center;
		@include media-query(tablet-and-up){
			width: 90%;
		}

		@include media-query(desk){
			width: 80%
		}
	}
}

/**
 * Contact
 */


footer{
	@include media-query(desk){
		width: 65%;
		margin: 0 auto;
	}
}

// add some space below the coda 
.coda{
	@extend .text--center;
	
	margin: 2rem 0 5rem;
	
	@include media-query(desk){
		margin-bottom: 20rem;
	}	
}
