/*------------------------------------*\
    &LOVEHATE
\*------------------------------------*/
/** 
 * jA for memorabilist.com

 * very specific treatments for love/hate section
 */

.love-hate{
	width: 300px;
	margin: 0 auto;
}

.ilove, ihate{
	position: relative;
}


// love/hate hed have diff positioning etc.
.ilove h2{
	@include background($type: title, $name: ilove, $position: top left, $opacity: 1);	
	
	height: 11rem;

	padding-top: 4.5rem;
	padding-left: 1.5rem;
}

.ihate h2{
	@include background($type: title, $name: ihate, $position: top left, $opacity: 1);
		
	height: 11rem;

	padding-top: 4.5rem;
	padding-left: 1.5rem;
	
	@include media-query(tablet-and-up){
//		padding-left: 9rem;
	}
}

h2{
	.ilove &, .ihate &{
		@include media-query(desk){
			color: $black;
		}
	}
}

.love-list, .hate-list{
	@extend .cf;
}
