/*------------------------------------*\
    $TITLES
\*------------------------------------*/
/** 
 * jA for memorabilist.com

 * Titles treatments
 */

//center, style all heds
.title--site, .hed{
	color: $crimson;
	text-align: center;
}


//the site title
.container--title{
	padding: 0 1rem 3rem 2rem;
	text-align: center;
	
	@include media-query(desk){
		width: 65%;
		margin: 0 auto;
	}
	
	.title--site{	
		border-bottom: 6px solid $crimson;
		display: inline-block;
		text-transform: uppercase;
	}
	
	.title--img{
		@extend .img--outline;
		margin: 1rem 0;
		width: 300px;
		height: auto;
	}

}


